{
  "presets": [["env", {
    "targets": {
      "node": 4,
      "browsers": ["last 2 versions"]
    }
  }]],
  "plugins": ["add-module-exports"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
